[General]
ProductName=
ProductVersion=
ProductPublisher=
ProductWebsite=

[General:Interface]

[General:Languages]
English=

[Setup]

[Setup:SectionGroups]
[Setup:Sections]
[Setup:PreCommands]
[Setup:Files]
[Setup:PostCommands]
[Setup:Uninstaller]

[Pages]
[Pages:Splash]
ShowSplash=
SplashImage=
SplashSound=
SplashDuration=

[Pages:Welcome]

[Pages:License]
License=

[Pages:Directory]
InstallPath=

[Pages:Components]

[Pages:Install]
ShowInstallDetails=

[Pages:Finish]
ApplicationPath=
RunApplication=
ApplicationParameters=
Webpage=

[Pages:Uninstall]

[System]
[System:Registry]
[System:Shortcuts]

[Build]
BuildDirectory=
Compression=
InstallerName=
InstallerIcon=
UninstallerName=
UninstallerIcon
